@import "./FilterList";
@import "./TextInput";

* {
  margin: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  h1 {
    color: $textColor;
    margin: 35px 0;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}

#title {
  font-size: 48px;
  margin: 20px 0;
}

p {
  color: $textColor;
}

input {
  background-color: $inputBg;
  color: $textColor;
}

textarea {
  background-color: $inputBg;
  color: $textColor;
}

h3 {
  color: $textColor;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;

  p {
    font-size: 16px;
    margin-bottom: 5px;
    color: $textColor;
  }

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.1s;

    &:hover {
      color: $blue;
    }
  }
}
